/* ========================== */
/*        BG Styling          */
/* ========================== */

html {
    /* background: linear-gradient(183deg, #03442b 0%, #b4dcc8 100%); */
    background-image: url("darker-green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* ========================= */
/* Player Name Input Styling */
/* ========================= */

#playerInput {
    width: 250px;
    height: 125px;
    background: #FFF5EE;
    border-radius: 5px;
    border: 2px solid #E0BFB8;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    visibility: hidden;

    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none;

    text-align: center;
    padding: 0 20px 20px;
    color: #03442B;

    transition: transform 0.3s ease, visibility 0.3s;
}

#playerInput.open-popup {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

button[type="submit"] {
    width: auto;
    min-width: 80px;
    padding: 2px 0;
    background-color: #b4dcc8;
    color: #03442B;
    display: block;
    margin: 8px auto;
    border: 1px ridge #03442B;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}


/* ========================= */
/*       Header Styling      */
/* ========================= */

@font-face {
    font-family: Rocher;
    src: url(./custom-fonts/RocherColor.ttf);
}

@font-palette-values --MyPalette {
    font-family: "Rocher";
    override-colors: 3 #FFF5EE, 0 #E37383;
}

h1 {
    font-family: Rocher;
    font-palette: --MyPalette;
    font-size: 40px;
    text-align: center;
}


/* ========================= */
/*     Game Grid Styling     */
/* ========================= */

#message {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF5EE;
    color: #03442B;
    padding: 10px 20px;
    border: 2px solid #E0BFB8;
    display: none;
    font-weight: bold;
    border-radius: 5px;
}

.grid div {
    user-select: none;
    border: 2px solid #E0BFB8;
    text-align: center;
    line-height: 80px;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
}

.grid div:hover {
    cursor: pointer;
}

.grid {
    width: 390px;
    z-index: 1;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF5EE;
    color: #E0BFB8;
    border: 10px solid #E0BFB8;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 120px 120px 120px;
    position: relative;
}

.grid div.pulse {
    animation: pulseEffect 0.3s ease !important;
}

@keyframes pulseEffect {
    0% {
        transform: scale(0.9);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* ========================= */
/*  Restart button Styling   */
/* ========================= */

#restart {
    position: fixed;
    bottom: 9vh;
    right: 10vw;

    background: #FFF5EE;
    color: #03442B;
    padding: 0.8em 1.5em;
    border: 2px solid #E0BFB8;
    display: inline-block;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
}

/* When screen gets smaller */
@media (max-width: 900px) {
    #restart {
        right: 1vw;
        bottom: 2vh;
    }
}

#restart:hover {
    color: #03442B;
    background: #E0BFB8;
}


/* ========================= */
/*    Scoreboard Styling     */
/* ========================= */

#scoreboard {
    position: fixed;
    left: 7vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    width: 180px;
    padding: 15px;

    background: #FFF5EE;
    color: #03442B;
    border: 2px solid #E0BFB8;
    border-radius: 10px;

    font-family: "Comic Sans MS", cursive;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    cursor: grab;
    user-select: none;
    touch-action: none;
}

#scoreboard:active {
    cursor: grabbing;
}

#scoreboardHeader {
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline;

    cursor: grab;
}

.score input {
    width: 110px;
    padding: 4px;
    margin-left: 1px;
}

.score {
    display: flex;
    align-items: center;
    margin-left: -9px;
    margin-bottom: 10px;
    font-size: 16px;
    justify-content: space-between;
}

#scoreX,
#scoreO {
    margin-left: auto;
}

@media (max-width: 900px) {
    #scoreboard {
        width: 140px;
        font-size: 14px;
        left: 1vw;
    }
}

.score-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.score-buttons button {
    background: #b4dcc8;
    color: #03442B;
    border: 1px ridge #03442B;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer
}
